#container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

body {
  background-color: unset !important;
  color: unset !important;
}

#map {
  height: 100%;
}

#controls {
  margin: 10px 0px;
}

#selectAny,
#selectEspecie {
  padding: 1em;
  width: 200px;
}

.text_negre {
  color: black;
}